{%  extends 'dashboard/main.html' %}

{%  block content %}
    {%  include 'dashboard/charts/piechart.html' %}
    <h3>Dashboard</h3>
    <!-- Overview Row -->
    <div class="row" id="overview-cards">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-4 mb-4 col-xl-4">
            <div id="total-users" class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-white text-uppercase mb-1">
                                Total Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-300">{{ total_users }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-4 mb-4 col-xl-4">
            <div id="weekly-requests" class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-white text-uppercase mb-1">
                                Requests This Week</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-300">{{ requests_this_week }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-4 mb-4 col-xl-4">
            <div id="avg-gross" class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md-left font-weight-bold text-white text-uppercase mb-1">
                                Average Gross per Week (JMD)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-300">{{ avg_week_income }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Overview Row -->

    <!-- Charts Row -->

    <div class="row">
        <div class="col-md-8 col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Location Popularity</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
        </div>
            </div>
                <div class="col-md-6 col-sm-12">
                <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Requests Per Month</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Recent Rides</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>NO.</th>
                                            <th>Client</th>
                                            <th>Driver</th>
                                            <th>Car Model</th>
                                            <th>Date</th>
                                            <th># Passengers</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in rides %}
                                            <tr>
                                                <td>{{ i.id }}</td>
                                                <td>{{i.client}}</td>
                                                <td>{{i.driver}}</td>
                                                <td>{{i.vehicle.carMake}}, {{ i.vehicle.carModel }}</td>
                                                <td>{{ i.date_created }}</td>
                                                <td>{{i.numPassengers}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
            <div class="card shadow mb-4"...>
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Recently Active Users</h6>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <h4>Clients</h4>
                        {% for user in clients%}
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ user.first_name }} {{ user.last_name }}</h5>
                                <small>{{ user.last_logged_in }}</small>
                            </div>
                            <small>{{ user.username}}</small>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="list-group">
                    <hr>
                        <h4>Drivers</h4>
                        {% for user in drivers%}
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ user.first_name }} {{ user.last_name }}</h5>
                                <small>{{ user.last_logged_in }}</small>
                            </div>
                            <small>{{ user.username}}</small>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
