{%  extends 'dashboard/main.html' %}

{%  block content %}

    <h1>Drivers</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Drivers</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date of Birth</th>
                                    <th>Age</th>
                                    <th>Sex</th>
                                    <th>Car Make & Model</th>
                                    <th>Max Capacity</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for driver in drivers %}
                                    <tr>
                                        <td>{{ driver.first_name }}</td>
                                        <td>{{ driver.last_name }}</td>
                                        <td>{{ driver.date_of_birth }}</td>
                                        <td>null</td>
                                        <td>{{ driver.gender }}</td>
                                        <td>{{ driver.vehicle.carMake }}, {{ driver.vehicle.carModel }} </td>
                                        <td>{{ driver.vehicle.carCapacity }}</td>
                                        <td><a class="btn btn-sm btn-info" href="#">Update</a></td>
                                        <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
