{%  extends 'dashboard/main-login.html' %}

{%  block content %}
    <div class="card login">
        <h2>Register</h2>
    <form>
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameInput">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
            <label for="ReEnterPassword" class="form-label">Re-Enter Password</label>
            <input type="password" class="form-control" id="ReEnterPassword">
            </div>
            <a>Already have an account? <a href="#">Login</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>


{% endblock %}