{%  extends 'dashboard/main.html' %}

{%  block content %}

    <h1>Rides</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Rides</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Ride #</th>
                                    <th>Client</th>
                                    <th>Driver</th>
                                    <th>Car Model</th>
                                    <th>Date</th>
                                    <th># Passengers</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ride in rides %}
                                    <tr>
                                        <td>{{ ride.id }}</td>
                                        <td>{{ride.client}}</td>
                                        <td>{{ride.driver}}</td>
                                        <td>{{ride.vehicle.carMake}} {{ ride.vehicle.carModel }}</td>
                                        <td>{{ ride.date_created }}</td>
                                        <td>{{ride.numPassengers}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
